.form {
  max-width: 400px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  padding: 20px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 10px 15px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  width: 150px;
  border: 1px solid #5a1a01;
  background-color: #5a1a01;
  color: #fff;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: #7a2706;
}

.button:disabled {
  background: #eee;
  color: #999;
  box-shadow: none;
  border: none;
  cursor: not-allowed;
}
